# From version 3.0.0 Prettier ignores files ignored by .gitignore by default. 
# If you want the old behavior (only ignore files ignored by .prettierignore), use command:
# prettier . --write --ignore-path=.prettierignore

.next
node_modules
